@{
    ViewData["Title"] = "Capital";
}

<h2>Capital del Sistema</h2>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card bg-dark text-white p-4">
            <h5>Capital Total</h5>
            <h2>S/ 120,000</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-success text-white p-4">
            <h5>Ingresos</h5>
            <h2>S/ 30,000</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-danger text-white p-4">
            <h5>Egresos</h5>
            <h2>S/ 10,000</h2>
        </div>
    </div>
</div>