@{
    ViewData["Title"] = "Configuración";
}

<h2>Configuración del Sistema</h2>

<div class="card bg-dark p-4 mt-3">

    <div class="mb-3">
        <label>Nombre del Sistema</label>
        <input class="form-control" value="Sistema de Remesas" />
    </div>

    <div class="mb-3">
        <label>Correo de Soporte</label>
        <input class="form-control" value="admin@email.com" />
    </div>

    <button class="btn btn-success">Guardar Cambios</button>

</div>