@model IEnumerable<PlataExpress.Models.Remesa>

@{
    ViewData["Title"] = "Pendientes";
}

<h2>Envíos Pendientes</h2>

<table class="table table-dark table-hover mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Monto</th>
            <th>Fecha</th>
            <th>Acción</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.IdRemesa</td>
                <td>@r.Nombre</td>
                <td>S/ @r.Monto</td>
                <td>@r.FechaEnvio</td>
                <td>
                    <button class="btn btn-success btn-sm">Aprobar</button>
                </td>
            </tr>
        }
    </tbody>
</table>