@{
    ViewData["Title"] = "Reportes";
}

<h2>Reportes</h2>

<div class="card bg-dark p-4 mt-3">
    <p>Aquí podrás generar reportes del sistema.</p>

    <button class="btn btn-primary">Generar Reporte</button>
</div>