@model PlataExpress.Models.Remesa

<style>
	.card {
		border-radius: 20px;
	}

	.shadow {
		box-shadow: 0 10px 25px rgba(0,0,0,0.1);
	}

	.btn {
		border-radius: 30px;
		font-weight: bold;
		padding: 10px;
	}

	.page-container {
		margin-bottom: 100px;
	}

	.btn-nav {
		border-radius: 25px;
		padding: 10px 20px;
		font-weight: 600;
		transition: 0.3s;
	}

	.btn-nav:hover {
		transform: translateY(-2px);
		box-shadow: 0 5px 15px rgba(0,0,0,0.15);
	}

	input, select {
		border-radius: 10px;
	}</style>

	<div class="container mt-4 page-container">

	<h2 class="mb-4">💸 Enviar dinero</h2>

	<div class="row">

		<div class="col-md-7">

			<div class="card shadow p-4">

				<h4>Datos del envío</h4>

					<form method="post" asp-action="EnviarDinero" asp-controller="Remesa">

						<div class="mb-3">
							<label>Tipo de operación</label>
							<select class="form-control" asp-for="TipoOperacion">
								<option value="Transferencia">Transferencia</option>
								<option value="Depósito">Depósito</option>
							</select>
						</div>

						<div class="mb-3">
							<label>Nombre del destinatario</label>
							<input type="text" class="form-control" asp-for="Nombre" required />
						</div>

						<div class="mb-3">
							<label>Agencia o país destino</label>
							<input type="text" class="form-control" asp-for="Agencia" required />
						</div>

						<div class="mb-3">
							<label>Monto a enviar</label>
							<input type="number" step="0.01" class="form-control" asp-for="Monto" required />
						</div>

						<button type="submit" class="btn btn-primary w-100"
								onclick="return confirmarEnvio()">
							Enviar dinero
						</button>

						<div class="mt-4 text-center">

							<a asp-controller="Usuario" asp-action="PanelUsuario"
								   class="btn btn-outline-secondary btn-nav me-3">

								⬅ Volver al Panel

							</a>

							<a asp-controller="Remesa" asp-action="MisEnvios"
								   class="btn btn-outline-primary btn-nav">

								📄 Ver mis envíos

							</a>

						</div>
				</form>

			</div>

		</div>

		<div class="col-md-5">

			<div class="card shadow p-4 mb-3">

				<h4>Resumen del envío</h4>

				<p><strong>Tipo de cambio:</strong> 1 USD = S/ 3.77</p>

				<p><strong>Comisión:</strong> 5%</p>

				<p><strong>Tiempo estimado:</strong> 10 minutos</p>

				<hr>

				<p class="text-success">
					✔ Transferencias seguras
				</p>

				<p class="text-success">
					✔ Operaciones protegidas
				</p>

				<p class="text-success">
					✔ Plataforma confiable
				</p>

			</div>


			<div class="alert alert-info">

				ℹ️ Recuerda verificar bien los datos del destinatario antes de confirmar el envío.

			</div>

		</div>

	</div>

</div>

	<script>
		function confirmarEnvio() {
			return confirm("¿Estás seguro de que deseas realizar este envío?");
		}
	</script>

