<h2>Enviar Dinero</h2>

<form>
    <label>Destinatario</label>
    <input type="text" class="form-control" />

    <label>Monto</label>
    <input type="number" class="form-control" />

    <br />

    <button class="btn btn-primary">Enviar</button>
</form>
