@model PlataExpress.Models.LoginViewModel   

<style>
    .card {
        border-radius: 20px;
        transition: 0.3s;
    }

    .page-container {
        margin-bottom: 100px;
    }

        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 25px rgba(0,0,0,0.2);
        }

    .btn {
        border-radius: 30px;
        padding: 10px 20px;
        font-weight: bold;
    }</style>

    @{
    }
<h2>Bienvenido  @Model.NombreDeUsuario</h2>







    </div>